{% extends 'base.html' %} 
{% block title %}Create Student {% endblock title %} {% block body %}

<svg xmlns="http://www.w3.org/2000/svg" style="display: none">
  <symbol
    id="check-circle-fill"
    fill="currentColor"
    viewBox="0 0 16 16"
  >
    <path
      d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-3.97-3.03a.75.75 0 0 0-1.08.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-.01-1.05z"
    />
  </symbol>
</svg>
<div class="col-md-6 col-sm-12 mx-auto">

  <form class="my-5" action="" method="POST">
    {% csrf_token %}
    <div class="row">
      {% if id != '' %}
      <h1 class="py-3">Update Student: {{id}}</h1>
      {% else %}
      <h1 class="py-3">Create Student</h1>
      {% endif %}

      
      {% if messages %}
      {% for message in messages %}
      <div class="alert alert-success d-flex align-items-center" role="alert">
        <svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="Success:"><use xlink:href="#check-circle-fill"/></svg>
        <div>
          {{ message }}
        </div>
      </div>
      {% endfor %}
      {% endif %}
      <div class="mb-3 col-md-6 col-sm-12">
        <label for="name" class="form-label">Name</label>
        <input
          type="text"
          class="form-control"
          id="name"
          placeholder="Your Name"
          name="name"
          {% if single_student.name != '' %}
          value="{{single_student.name}}"
          {% endif %}
          
        />
      </div>

      <div class="mb-3 col-md-6 col-sm-12">
        <label for="email" class="form-label">Email address</label>
        <input
          type="email"
          class="form-control"
          id="email"
          placeholder="name@example.com"
          name="email"
          {% if single_student.email != '' %}
          value="{{single_student.email}}"
          {% endif %}
        />
      </div>

      <div class="mb-3 col-md-6 col-sm-12">
        <label for="mobile" class="form-label">Mobile</label>
        <input
          type="text"
          class="form-control"
          id="mobile"
          placeholder="Enter Mobile"
          name="mobile"
          {% if single_student.mobile != '' %}
          value="{{single_student.mobile}}"
          {% endif %}
        />
      </div>

      <div class="mb-3 col-md-6 col-sm-12">
        <label for="city" class="form-label">Select City</label>
        <select
          class="form-select"
          aria-label="Select City"
          id="city"
          name="city"
        >
          <option value="">Select City</option>
          <option value="Pune" {% if single_student.city == 'Pune' %}selected{% endif %}>Pune</option>
          <option value="Patna" {% if single_student.city == 'Patna' %}selected{% endif %}>Patna</option>
          <option value="Narkatiaganj" {% if single_student.city == 'Narkatiaganj' %}selected{% endif %}>Narkatiaganj</option>
        </select>
      </div>

      <div class="mb-3">
        <label for="address" class="form-label"
          >Your Full Address</label
        >
        <textarea
          class="form-control"
          id="address"
          rows="3"
          placeholder="You Address"
          name="address"
        >{% if single_student.address != '' %}{{single_student.address}}{% endif %}</textarea>
      </div>
    </div>
    <input 
    type="hidden" name="id" 
    {% if single_student.id != '' %}
    value="{{single_student.id}}"
    {% endif %} />
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
</div>

{% endblock body %}
