{% extends 'base.html' %} {% block title %}Display all
Students{%endblock title %} {% block body %}

<div class="my-5 container">
  <svg xmlns="http://www.w3.org/2000/svg" style="display: none">
    <symbol
      id="check-circle-fill"
      fill="currentColor"
      viewBox="0 0 16 16"
    >
      <path
        d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-3.97-3.03a.75.75 0 0 0-1.08.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-.01-1.05z"
      />
    </symbol>
  </svg>
  <h1 class="py-4">All Students</h1>
  {% if messages %} {% for message in messages %}
  <div
    class="alert alert-success d-flex align-items-center"
    role="alert"
  >
    <svg
      class="bi flex-shrink-0 me-2"
      width="24"
      height="24"
      role="img"
      aria-label="Success:"
    >
      <use xlink:href="#check-circle-fill" />
    </svg>
    <div>{{ message }}</div>
  </div>
  {% endfor %} {% endif %}
  <table class="table">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Name</th>
        <th scope="col">Email</th>
        <th scope="col">Mobile</th>
        <th scope="col">City</th>
        <th scope="col">Address</th>
        <th scope="col">Created On</th>
        <th scope="col">Action</th>
      </tr>
    </thead>
    <tbody>
      {% for i in student %}
      <tr>
        <th scope="row">{{i.id}}</th>
        <td>{{i.name}}</td>
        <td>{{i.email}}</td>
        <td>{{i.mobile}}</td>
        <td>{{i.city}}</td>
        <td>{{i.address}}</td>
        <td>{{i.created_on}}</td>
        <td>
          <a href="/create/{{i.id}}" class="btn btn-sm btn-primary"
            >Edit</a
          >
          <a href="/delete/{{i.id}}" class="btn btn-sm btn-danger"
            >Delete</a
          >
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>

{% endblock body %}
